<nav class="navbar bg-body-secondary">
    <div class="container">
        <a class="navbar-brand">
            <img src="https://i.postimg.cc/NMYs7GhZ/COOKPAD-LOGOtitle.png" alt="COOKPAD.LOGO" width="220" height="40">
        </a>

        <form class="d-flex" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>

        <div class="d-flex">
            <div>
                <a class="btn" href="home">
                    <i class="fa-solid fa-house"></i>
                </a>
            </div>

            <div class="dropdown ms-4 me-5">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/userprofile">View Profile</a></li>
                    <li><a class="dropdown-item" href="#setting&privacy">Settings & Privacy</a></li>
                    <li><a class="dropdown-item" href="#help">Help</a></li>
                    <li><a class="dropdown-item" (click)="logout()">Sign Out</a></li>
                </ul>
            </div>

        </div>

    </div>
</nav>