<div class="card text-center bg-body-secondary">
    <div class="card-body">
        <div class="socialmedia d-flex justify-content-around w-25" style="margin-left: 38%;">
            <!-- facebook -->
            <i class="fa-brands fa-facebook"></i>
            <!-- twitter -->
            <i class="fa-brands fa-x-twitter"></i>
            <!-- google -->
            <i class="fa-brands fa-google"></i>
            <!-- instagram -->
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div>
            <p class="card-text">&copy; 2024 Copyright: Cookpad.com</p>
        </div>
       
    </div>
</div>