<app-header></app-header>

<div class="user-profile-section">

    <div class="profile bg-body-secondary mt-2 pt-3">

        <div class="d-flex justify-content-center">
            <img src="https://imgv3.fotor.com/images/blog-cover-image/10-profile-picture-ideas-to-make-you-stand-out.jpg"
                alt="" width="80px" height="70px" style="border-radius: 50%;">
        </div>

        <div class="d-flex justify-content-center">
            <h4>{{loggeduserdetails?.username}}</h4>
        </div>
        <div class="d-flex justify-content-center">
            <p>{{loggeduserdetails?.email}}</p>
        </div>
        <div class="d-flex justify-content-end me-3">
            <!-- profile edit button -->
            <button type="button" class="profileedit btn btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#profileeditModal">
                <i class="fa-solid fa-user-pen"></i>
            </button>

            <!-- profile edit modal -->
            <div class="modal fade" id="profileeditModal" tabindex="-1" aria-labelledby="profileeditModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="usernameInput" placeholder="username"
                                    [(ngModel)]="username">
                                <label for="usernameInput">Username</label>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" (click)="editUserinfo()">Save
                                Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-8">

                <!-- post body -->
                <div class="posts bg-body-secondary mt-2 p-3 mb-2">
                    <div *ngFor="let userpost of userposts" class="card">
                        <div class="card-body">

                            <div class="d-flex">
                                <div>
                                    <img src="https://imgv3.fotor.com/images/blog-cover-image/10-profile-picture-ideas-to-make-you-stand-out.jpg"
                                        alt="" width="40px" height="35px" style="border-radius: 50%;">
                                </div>

                                <div class="ms-3">
                                    <h5 class="card-title">{{loggeduserdetails?.username}}</h5>
                                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">{{loggeduserdetails?.email}}</h6> -->
                                </div>

                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#posteditModel"><i class="fa-solid fa-pen-to-square"></i>
                                            Edit</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="deletepost(userpost._id)"><i
                                                class="fa-solid fa-trash"></i> Delete</a>
                                    </li>
                                </ul>

                                <!-- edit Modal -->
                                <form #addpostForm="ngForm" (ngSubmit)="handleupdate(addpostForm, userpost)">
                                    <div class="modal fade" id="posteditModel" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="posteditModelLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="posteditModelLabel">Upload</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- recipe name -->
                                                    <div class="form-floating mb-3">
                                                        <input type="email" #recipename="ngModel"
                                                            [(ngModel)]="userpost.recipename" name="id"
                                                            class="form-control" id="floatingInput"
                                                            placeholder="name@example.com" required>
                                                        <label for="floatingInput">Recipe Name</label>
                                                    </div>
                                                    <!-- How to make it -->
                                                    <div class="form-floating mb-3">
                                                        <textarea #description="ngModel"
                                                            [(ngModel)]="userpost.description" name="description"
                                                            class="form-control" placeholder="Leave a comment here"
                                                            id="floatingTextarea2" style="height: 100px"
                                                            required></textarea>
                                                        <label for="floatingTextarea2">How to make it..?</label>
                                                    </div>
                                                    <!-- image upload -->
                                                    <div class="input-group">
                                                        <input type="file" name="image" #fileInput
                                                            (change)="onFileSelected($event,userpost)"
                                                            class="form-control" id="inputGroupFile04"
                                                            aria-describedby="inputGroupFileAddon04" aria-label="Upload"
                                                            required>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit"
                                                        class="btn btn-outline-secondary">Upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div>

                                <p class="d-inline-flex gap-1">
                                    <a class="btn" data-bs-toggle="collapse" href="#{{userpost.description}}"
                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{userpost.recipename}} <i class="fa-solid fa-arrow-down"></i>
                                    </a>
                                </p>
                                <div class="collapse" id="{{userpost.description}}">
                                    <div class="card card-body">
                                        {{userpost.description}}
                                    </div>
                                </div>

                                <img [src]="SERVER_URL + '/uploads/' + userpost.image" alt="recipeimage" width="100%"
                                    height="100%">
                            </div>

                        </div>
                    </div>
                </div>




            </div>
            <div class="col-4">

                <!-- upload post -->
                <div class="uploadpost bg-body-secondary mt-2 p-3">
                    <button type="button" class="btn btn-light w-75" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-image" style="color: #12983f;"></i>Upload Your Post...
                    </button>
                </div>

                <!-- addpost Modal -->
                <form #addpostForm="ngForm" (ngSubmit)="handleAddPost(addpostForm)">
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Upload</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- recipe name -->
                                    <div class="form-floating mb-3">
                                        <input type="email" #recipename="ngModel" [(ngModel)]="postDetailsprofile.recipename"
                                            name="id" class="form-control" id="floatingInput"
                                            placeholder="name@example.com" required>
                                        <label for="floatingInput">Recipe Name</label>
                                    </div>
                                    <!-- How to make it -->
                                    <div class="form-floating mb-3">
                                        <textarea #description="ngModel" [(ngModel)]="postDetailsprofile.description"
                                            name="description" class="form-control" placeholder="Leave a comment here"
                                            id="floatingTextarea2" style="height: 100px" required></textarea>
                                        <label for="floatingTextarea2">How to make it..?</label>
                                    </div>
                                    <!-- image upload -->
                                    <div class="input-group">
                                        <input type="file" name="image" #fileInput
                                            (change)="onFileSelectedprofile($event)" class="form-control"
                                            id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                                            aria-label="Upload" required>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-secondary">Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="bg-body-secondary pb-5">
                    <img src="https://i.postimg.cc/VLMLJH8H/COOKPAD-LOGO.png" alt="no image" width="50%" height="50%">

                    <p>Unleash your inner chef with our Recipe Book! Share your favorite recipes, tweak them to
                        perfection, and savor the joy of cooking.</p>
                </div>

            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>