<div style="margin-top: 80px;">

    <div class="d-flex flex-column justify-content-center align-items-center">

        <div class="row border rounded shadow p-5 mt-4">
            <!-- image -->
            <div class="col-lg-6">
                <img src="https://i.postimg.cc/jdQVT3C0/login2-removebg-preview.png" alt="...." class="img-fluid">
            </div>

            <div class="col-lg-6" style="background-color: rgb(154, 185, 199);">
                <div style="height: 100%;" class="d-flex flex-column align-items-center">
                    <h3 class="fw-bolder mt-3">Sign In</h3>

                    <form [formGroup]="loginForm" class="mt-3" (ngSubmit)="login()">

                        <!-- email id -->
                        <div class="mb-3">
                            <input type="text" placeholder="E-mail" class="form-control" formControlName="email">
                        </div>
                        <!-- validation error -->
                        <div *ngIf="this.loginForm.get('email')?.errors&&this.loginForm.get('email')?.touched" class="fw-bolder text-danger">
                            Invalid email
                        </div>

                        <!-- password -->
                        <div class="mb-3">
                            <input type="password" placeholder="password" class="form-control" formControlName="password">
                        </div>
                        <!-- validation error -->
                        <div *ngIf="this.loginForm.get('password')?.errors&&this.loginForm.get('password')?.touched" class="fw-bolder text-danger">
                            Invalid password
                        </div>

                        <input type="submit" class="btn btn-light mt-3 mb-4" value="Login">

                    </form>

                    <p>New user? click here <a class="text-light" routerLink="/register">Register</a></p>

                </div>
            </div>

        </div>

    </div>
</div>