<div class="leftsidebar bg-body-secondary p-4" style="height: 100%;">

    <div class="m-5">
        <div class="mb-2">
            <img src="https://imgv3.fotor.com/images/blog-cover-image/10-profile-picture-ideas-to-make-you-stand-out.jpg"
                alt="profile-photo" width="65px" height="65px" style="border-radius: 50%;">
        </div>
        <div>
            <p>{{loggeduserdetails?.username}}</p>
            <p>{{loggeduserdetails?.email}}</p>
        </div>
        <div class="button" id="button-3">
            <div id="circle"></div>
            <a href="userprofile">View Profile</a>
        </div>
    </div>


    <hr>

    <button type="button" class="btn btn-light w-75 ms-5 me-5 mt-3">
        <i class="fa-solid fa-bookmark"></i> Saved Items
    </button>

</div>